* { margin: 0px; padding: 0px; font-family: 'Ubuntu', sans-serif;transition: all,1s;}

.title { font-weight: bold; font-size: 30px;padding-bottom: 10px;}
.title { margin-left: 40px; }
.search-icon {float: right;margin:20px 0px;}
.input-search { width: 40%;padding: 6px;margin:20px 0px;float: right;border-radius: 14px; }
.navbar-default, .navbar-collapse { background-color: white; color:black; border:none;margin-top:12px;}
#navbar { border:1px solid #eef5db;margin-left: 20px;}
	.navbar-default ul li a {color:black;}
	.navbar-default .navbar-brand {color:#518caa; margin-top:10px;font-weight: bold;}
	#brand {margin-left: 20px;}
	.navbar-default .navbar-brand:hover {background-color: #518caa; color: white;}
	#bs-example-navbar-collapse-1 ul {margin-left: 20px;}
	#bs-example-navbar-collapse-1 ul li a {font-weight: bold; color:#518caa;border-left: 1px solid #eef5db;}
	#bs-example-navbar-collapse-1 ul li a:hover {background-color: #518caa;color: white;}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      height: 300px;
      margin: auto;
  }

#news {

}

#news h3 {
	background-color: #518caa;
	color: white;
	padding: 12px;

}
#Departments {
	margin-bottom:60px;
}
#Departments h3 {
	background-color: #518caa;
	color: white;
	padding: 12px;
}
#Departments ul li {
	list-style-type: none;
}
#news .row {
	padding: 26px;
}

#news .date {
	color:gray;
	float: right;
}

footer {
	background-color:#305365;
	
	color: white;
	padding: 12px;
}
footer .section-one {
	
}
footer h4 {
	font-weight: bold;
}
footer a {
	color:white;
}


footer .second-section {
	
	background-color: #386176;
	padding: 14px;
}



/* galllery*/


 .demo-gallery > ul {
              margin-bottom: 0;
            }
            .demo-gallery > ul > li {
                float: left;
                margin-bottom: 15px;
                margin-right: 20px;
                width: 200px;
            }
            .demo-gallery > ul > li a {
              border: 3px solid #FFF;
              border-radius: 3px;
              display: block;
              overflow: hidden;
              position: relative;
              float: left;
            }
            .demo-gallery > ul > li a > img {
              -webkit-transition: -webkit-transform 0.15s ease 0s;
              -moz-transition: -moz-transform 0.15s ease 0s;
              -o-transition: -o-transform 0.15s ease 0s;
              transition: transform 0.15s ease 0s;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
              height: 100%;
              width: 100%;
            }
            .demo-gallery > ul > li a:hover > img {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }
            .demo-gallery > ul > li a:hover .demo-gallery-poster > img {
              opacity: 1;
            }
            .demo-gallery > ul > li a .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.1);
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              -webkit-transition: background-color 0.15s ease 0s;
              -o-transition: background-color 0.15s ease 0s;
              transition: background-color 0.15s ease 0s;
            }
            .demo-gallery > ul > li a .demo-gallery-poster > img {
              left: 50%;
              margin-left: -10px;
              margin-top: -10px;
              opacity: 0;
              position: absolute;
              top: 50%;
              -webkit-transition: opacity 0.3s ease 0s;
              -o-transition: opacity 0.3s ease 0s;
              transition: opacity 0.3s ease 0s;
            }
            .demo-gallery > ul > li a:hover .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.5);
            }
            .demo-gallery .justified-gallery > a > img {
              -webkit-transition: -webkit-transform 0.15s ease 0s;
              -moz-transition: -moz-transform 0.15s ease 0s;
              -o-transition: -o-transform 0.15s ease 0s;
              transition: transform 0.15s ease 0s;
              -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
              height: 100%;
              width: 100%;
            }
            .demo-gallery .justified-gallery > a:hover > img {
              -webkit-transform: scale3d(1.1, 1.1, 1.1);
              transform: scale3d(1.1, 1.1, 1.1);
            }
            .demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
              opacity: 1;
            }
            .demo-gallery .justified-gallery > a .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.1);
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
              -webkit-transition: background-color 0.15s ease 0s;
              -o-transition: background-color 0.15s ease 0s;
              transition: background-color 0.15s ease 0s;
            }
            .demo-gallery .justified-gallery > a .demo-gallery-poster > img {
              left: 50%;
              margin-left: -10px;
              margin-top: -10px;
              opacity: 0;
              position: absolute;
              top: 50%;
              -webkit-transition: opacity 0.3s ease 0s;
              -o-transition: opacity 0.3s ease 0s;
              transition: opacity 0.3s ease 0s;
            }
            .demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
              background-color: rgba(0, 0, 0, 0.5);
            }
            .demo-gallery .video .demo-gallery-poster img {
              height: 48px;
              margin-left: -24px;
              margin-top: -24px;
              opacity: 0.8;
              width: 48px;
            }
            .demo-gallery.dark > ul > li a {
              border: 3px solid #04070a;
            }
            .home .demo-gallery {
              padding-bottom: 80px;
            }


#contact-us .contact:hover {
transform: scale(1.2,1.2);
}

#contactuss h4:hover {
background-color: #305365;
color: white;
}
#contactuss a:hover{
  color: white;
}

#staffzoom .staffz:hover {
  transform: scale(1.2,1.2);
}